<a href="/movies/edit/<%=movie.id%>">

    <button> EDITAR </button>
    
    </a>
   
    <form action="/movies/delete/<%=movie.id%>" method="POST">

    <button type="submit">BORRAR</button>
    
    </form>
