<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion de Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1>Registracion</h1>

    <figure>
        <img src="/images/logo-DH.png" alt="Logo Digital House">
    </figure>

    <form action="usersRegister" method="POST">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Apellido</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="">Celular</label>
            <input type="text" name="cell">
        </div>
        <div>
            <label for="">Imagen</label>
            <input type="file" name="image">
        </div>
        <br>
        <br>
        <div>

            <button type="submit">REGISTRAR</button>

        </div>
    
    
    
    
    
    </form>



</body>


</html>