<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion de Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1>LOGUEARSE</h1>

    <figure>
        <img src="/images/logo-DH.png" alt="Logo Digital House">
    </figure>

    <form action="usersLogin" method="POST">
      
        
        <div>
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>
        

        <br>
        <br>

        <div>

            <button type="submit">ENTRAR</button>

        </div>
    
    
    
    
    
    </form>



</body>


</html>