<!DOCTYPE html>
<html lang="es">
    <title>perfil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <div>
        PERFIL DEL USUARIO
    </div>
   
    <p>    BIENVENIDO <u><%= locals.logged.name %>  </u> </p>

   


</body>
</html> 