<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion de Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1>LOGUEARSE</h1>
    <header>
        <%- include('../partials/header') %>
    </header>
    <figure>
        <img src="/images/logo-DH.png" alt="Logo Digital House">
    </figure>

    <form action="/users/login" method="POST">
      
        
        <div>
            <label for="">Email</label>
            <input type="text" name="email"  class="<%= (locals.errors && errors.email) ? 'input-error' : '' %>" />
            <span class='msg-error msg-error-email'></span>>
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password" class="<%= (locals.errors && errors.name) ? 'input-error' : '' %>" />

            <span class='msg-error msg-error-password'></span> >
       

    <div>

        <button type="submit">INGRESAR</button>

    </div>
        
    
    
    
    
    </form>



</body>


</html>