*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}

.msg-error{
  color: rgb(40, 6, 165);
}

.input-error{
  border: 2px solid red;
}

.input-container 
{
    width: 90%;
    margin: auto;
    max-width: 400px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align:initial;
}
.input-container label {
  display: block;
}

.input-container .boton
  {
    transition: all 1s;
  }
  .input-container .boton:hover
  {
    background-color: rgb(11,64,145);
    color:white;
  }
  .input-container  .recuperar
  {
    margin-top: 10px;
  }
  .input-container  .recuperar a
  {
    color:rgb(150, 42, 42);
    text-decoration: none;
    transition: all 1s;
  }
  .input-container  .recuperar a:hover
  {
    color:rgb(41, 128, 0);
  }