<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1>CREA TU PELÍCULA</h1>

    <figure>
        <img src="/images/logo-DH.png" alt="Logo Digital House">
    </figure>

    <form action="/movies/new" method="POST">
        <div>
            <label for="">Titulo</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="">Rating</label>
            <input type="text" name="rating">
        </div>
        <div>
            <label for="">Premios</label>
            <input type="text" name="awards">
        </div>
        <div>
            <label for="">Duracion</label>
            <input type="text" name="length">
        </div>
        <div>
            <label for="">Estreno</label>
            <input type="date" name="release_date">
        </div>
        <div>
            <label for="">Genero</label>
            <select name = "genre">
                <% for (let i = 0; i < genres.length; i++) { %>
            }
                    <option value="<%=genres[i].id%>">
                        <%=genres [i].name%>

                    </option>
                <% } %>
            </select>
        </div>
        <button type="submit">CREAR</button>
    
    
    
    
    
    </form>



</body>


</html>